In [35]:
import pandas as pd
import numpy as np

from datetime import datetime
from collections import defaultdict

In [1]:
import time
time.sleep(3)

In [2]:
def say_hello(recipient):
    return 'Hello, {}!'.format(recipient)
say_hello('bla')

'Hello, bla!'

# level 1 heading
## level 2 heading
paragraph,jfdafdklafjdkafjdkl;afjd;klahfdsiafhjdiosp;fahdaifhdjakfhjas;lfjk;dljfkldsa;fk;dlsjfdksafjdksafjdsa;fj;dsakjds;alfjdask;fkdsa;fjdksl;jfdksl;fsa;j

paragraph,huh

*bullet 
*bullet

1. list
2. list2
[hyperlinks j;jk;j;](https://www.python.org/downloads/)

In [7]:
import numpy as np
def square(x):
    return x * x
x = np.random.randint(1, 10)
y = square(x)
print('%d squared is %d' % (x, y))

1 squared is 1

In [8]:
y = 10
print('%d squared is %d' % (x, y))

1 squared is 10

In [9]:
s = pd.Series([1, 3, 5, None, 6, 8])
s
#print(s.isna())

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
dates=pd.date_range("20250101", periods=6, freq='D')
dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2025-01-01 -2.609978 -0.742343 -0.638614  0.563280
2025-01-02 -0.353719  1.319780  0.582016  0.337796
2025-01-03 -0.067450 -0.965601 -0.343081  0.087415
2025-01-04  0.921748  1.217632 -0.360030  1.126029
2025-01-05 -1.516061 -1.158476  0.806106  3.238569
2025-01-06 -1.038168  0.809830 -0.385370  0.309779

In [12]:
numbers = [1,2,3]
squared = [x**2 for x in numbers]
print(squared)

[1, 4, 9]

In [13]:
import operator

a = [1, 2, 3]
b = [4, 5, 6]

summed = list(map(lambda a, b: a+b, a, b))  # Cleaner than lambda
print(summed)  # [5, 7, 9]

[5, 7, 9]

In [14]:
df["A"]

2025-01-01   -2.609978
2025-01-02   -0.353719
2025-01-03   -0.067450
2025-01-04    0.921748
2025-01-05   -1.516061
2025-01-06   -1.038168
Freq: D, Name: A, dtype: float64

In [15]:
df.A

2025-01-01   -2.609978
2025-01-02   -0.353719
2025-01-03   -0.067450
2025-01-04    0.921748
2025-01-05   -1.516061
2025-01-06   -1.038168
Freq: D, Name: A, dtype: float64

In [16]:
tuple_var=(1,2,3)

In [17]:
list_var=list(tuple_var)
list_var[2]=5
tuple_var=tuple(list_var)
tuple_var

(1, 2, 5)

In [18]:
list_var.insert(0,'test')
list_var

['test', 1, 2, 5]

In [19]:
del list_var[1]

In [20]:
list_var

['test', 2, 5]

In [21]:
list2=[10,11,12]
list_var.extend(list2)

In [22]:
list_var.index(10)

3

In [23]:
list_var.pop(3)

10

In [24]:
family={'mom': "Bingyang", 'dad':"Hongyu", 'son':"Evan", 'meimei':"Ava"}
family

{'mom': 'Bingyang', 'dad': 'Hongyu', 'son': 'Evan', 'meimei': 'Ava'}

In [25]:
family['mom']

'Bingyang'

In [26]:
copy=family.copy

In [27]:
print(family.get('g'))

None

In [28]:
family.popitem()

('meimei', 'Ava')

In [29]:
family

{'mom': 'Bingyang', 'dad': 'Hongyu', 'son': 'Evan'}

In [30]:
family.setdefault('grand',"agu")

'agu'

In [31]:
del family['mom']

In [32]:
num=1
print(f'shuttle {num} launched')

shuttle 1 launched

In [33]:
for key, value in family.items():
    print(key,'\n',value)

dad
 Hongyu
son
 Evan
grand
 agu

In [35]:
for idx, (key, value) in enumerate(family.items()):
    print(idx, key, value)

0 dad Hongyu
1 son Evan
2 grand agu

# List comprehension drill

In [41]:
#output=[x**2 for x in range(5)]

# words = ['apple', 'banana', 'cherry']
# output = [x.upper() for x in words]

# input=[1,2,3,4,5]
# output=[x for x in input if x%2==0]

# words = ['hi', '', 'hello', '', 'world']
# output=[x for x in words if x!='']

# data = [('Alice', 90), ('Bob', 85), ('Carol', 95)]
# output=[x[0] for x in data]

keys = ['a', 'b', 'c']
values = [1, 2, 3]
output={x:y for (x, y) in zip(keys,values)}

print(output)

{'a': 1, 'b': 2, 'c': 3}

In [47]:
# You have a list of lists of integers. Return a flat list where each number is doubled.
nums = [[1, 2], [3, 4], [5]]
output=[x*2 
        for inner_list in nums 
        for x in inner_list]
print(output)

[2, 4, 6, 8, 10]

In [48]:
scores = [("Alice", 88), ("Bob", 95), ("Carol", 92)]
output=[t[0] for t in scores if t[1]>=90]
print(output)

['Bob', 'Carol']

In [50]:
keys = ["a", "b", "c"]
values = [5, 15, 8]
output={x:y for (x,y) in zip(keys,values) if y>10}
print(output)

{'b': 15}

In [54]:
a=[1,2,3]
b=[4,5]
output=[(x,y)
        for x in a
        for y in b
        if (x+y)%2!=0]

print(output)

[(1, 4), (2, 5), (3, 4)]

In [56]:
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]

output=[matrix[x][y]
        for y in range(len(matrix[0]))
        for x in range(len(matrix))]
print(output)

[1, 4, 2, 5, 3, 6]

In [19]:
users = [
  {'user_id': 1, 'emails': ['a@example.com', 'b@example.com']},
  {'user_id': 2, 'emails': []},
  {'user_id': 3, 'emails': ['c@example.com']}
]

output=[]
for user in users:
    email
    if user.get('emails')==None or user.get('emails')==[]:
        output.append({'user_id': user['user_id'], 'email':None})    
    else:
        for email in user['emails']:
            output.append({'user_id': user['user_id'], 'email':email})
print(output)

# output=[{'user_id':user['user_id'], 'email':email} 
#         for user in users
#         for email in (user['emails'] if user['emails']!=[] else [None])]
# print(output)

[{'user_id': 1, 'email': 'a@example.com'}, {'user_id': 1, 'email': 'b@example.com'}, {'user_id': 2, 'email': None}, {'user_id': 3, 'email': 'c@example.com'}]

In [12]:
users = [
    {'user_id': 1, 'address': {'city': 'New York'}},
    {'user_id': 2},
    {'user_id': 3, 'address': {'state': 'CA'}},
    {'user_id': 4, 'address': {'city': 'San Francisco'}},
]

output=[]
for user in users:
    address=user.get('address',{}).get('city','UNKNOWN')
    output.append({'user_id':user['user_id'],'address':address})

    
    # if user.get('address') is None:
    #     output.append({'user_id':user['user_id'],'address':'UNKNOWN'})
    # elif user.get('address').get('city') is None:
    #     output.append({'user_id':user['user_id'],'address':'UNKNOWN'})
    # else:
    #     output.append({'user_id':user['user_id'],'address':user.get('address').get('city')})

print(output)
# output:

# [
#     {'user_id': 1, 'city': 'New York'},
#     {'user_id': 2, 'city': 'UNKNOWN'},
#     {'user_id': 3, 'city': 'UNKNOWN'},
#     {'user_id': 4, 'city': 'San Francisco'},
# ]

[{'user_id': 1, 'address': 'New York'}, {'user_id': 2, 'address': 'UNKNOWN'}, {'user_id': 3, 'address': 'UNKNOWN'}, {'user_id': 4, 'address': 'San Francisco'}]

In [13]:
users = [
  {
    'user_id': 1,
    'name': 'Alice',
    'orders': [
      {'order_id': 'A1', 'amount': 25},
      {'order_id': 'A2', 'amount': 15}
    ]
  },
  {
    'user_id': 2,
    'name': 'Bob',
    'orders': []
  },
  {
    'user_id': 3,
    'name': 'Charlie',
    'orders': [
      {'order_id': 'C1', 'amount': 50}
    ]
  }
]
# [
#   {'user_id': 1, 'name': 'Alice', 'order_id': 'A1', 'amount': 25},
#   {'user_id': 1, 'name': 'Alice', 'order_id': 'A2', 'amount': 15},
#   {'user_id': 3, 'name': 'Charlie', 'order_id': 'C1', 'amount': 50}
# ]

In [82]:
output=[]
for user in users:
    if user.get('orders')==[] or user.get('orders') is None:
        continue
    else:
        for order in user['orders']:
            output.append({'user_id':user['user_id'], 
                           'name': user['name'],
                           'order_id':order['order_id'],
                           'amount':order['amount']})

print(output)

[{'user_id': 1, 'name': 'Alice', 'order_id': 'A1', 'amount': 25}, {'user_id': 1, 'name': 'Alice', 'order_id': 'A2', 'amount': 15}, {'user_id': 3, 'name': 'Charlie', 'order_id': 'C1', 'amount': 50}]

# Bootstrapping

In [59]:
def bootstrap_test (data, func, n=1000, alpha=0.05):
    stat_list=[]
    for _ in range(n):
        sample=[random.choice(data) for _ in range(len(data))]
        stat_list.append(func(sample))
    stat_list.sort()

    lower_bound=stat_list[int(alpha/2*n)]
    upper_bound=stat_list[int((1-alpha/2)*n)]

    return (lower_bound, upper_bound)
bootstrap_test(

In [20]:
def bootstrap_test (data, func, n=1000, alpha=0.05):
    stat_list=[]
    for _ in range(n):
        sample=random.choices(data, k=len(data))
        stat_list.append(func(sample))
    stat_list.sort()

    lower_bound=stat_list[int(alpha/2*n)]
    upper_bound=stat_list[int((1-alpha/2)*n)]

    return (lower_bound, upper_bound)

In [23]:
#🎙️ Say: “Each user gets a random number of pageviews (1–10), and each view has a 10% chance of conversion.
#I’m capturing this in a simple list of dicts.”
import random
def simulate_data(k=1000, prob=0.1):
    output=[]
    for _ in range(k):
        page_view=random.randint(1,10)
        conversion=sum([random.random()<prob for _ in range(page_view)])
        output.append({'page_view':page_view, 'conversion': conversion})
    return output
simulate_data(k=10)

[{'page_view': 6, 'conversion': 0},
 {'page_view': 4, 'conversion': 0},
 {'page_view': 4, 'conversion': 0},
 {'page_view': 5, 'conversion': 1},
 {'page_view': 2, 'conversion': 2},
 {'page_view': 4, 'conversion': 0},
 {'page_view': 8, 'conversion': 0},
 {'page_view': 4, 'conversion': 0},
 {'page_view': 8, 'conversion': 0},
 {'page_view': 2, 'conversion': 0}]

# Filtering

In [26]:
users = [
    {'id': 1, 'age': 25, 'country': 'US'},
    {'id': 2, 'age': 17, 'country': 'CA'},
    {'id': 3, 'age': 30, 'country': 'US'},
]

# Task 1: Filter for users from the US who are over 18
users_1=[u for u in users if u['country']=='US' and u['age']>18]
users_1

# Task 2: Return just their IDs
users_2=[u['id'] for u in users_1]
users_2
# Task 3: Return list of dicts with id and a new field 'is_senior' = age >= 30
users_3=[{'id':u['id'], 'is_senior':(u['age']>=30)} for u in users]
users_3

user5=[u['id'] for u in users if u['country']=='US']
user5

[1, 3]

In [68]:
users = [
  {'user_id': 1, 'country': 'US'},
  {'user_id': 2, 'country': 'CA'},
  {'user_id': 3, 'country': 'US'},
]

transactions = [
  {'user_id': 1, 'amount': 100},
  {'user_id': 2, 'amount': 50},
  {'user_id': 1, 'amount': 200},
  {'user_id': 3, 'amount': 300},
]
#Tasks:

#Filter for users from the US.
users_us=[u for u in users if u['country']=='US']
#Compute the total transaction amount for each US user.


def trans_amount(users, transactions):
    trans_amount=[]
    user_id=[u['user_id'] for u in users]
    for uid in user_id:
        user_total=sum([t['amount'] for t in transactions if t['user_id']==uid])
        trans_amount.append({'user_id': uid, 'user_total':user_total})
    # per user average amount
    avg_amount=sum([tm['user_total'] for tm in trans_amount])/len(users)
    # per user average amount by country
    
    return (trans_amount, avg_amount)
#Return a list of dicts like: {'user_id': X, 'total_spend': Y} for US users only.
users_us_only=[u for u in users if u['country']=='US']
print(trans_amount(users_us_only, transactions))

([{'user_id': 1, 'user_total': 300}, {'user_id': 3, 'user_total': 300}], 300.0)
[{'country': 'US', 'avg_amount': 0.0}, {'country': 'CA', 'avg_amount': 0.0}]

In [36]:
users = [
    {'user_id': 1, 'country': 'US'},
    {'user_id': 2, 'country': 'CA'},
    {'user_id': 3, 'country': 'US'},
    {'user_id': 4, 'country': 'FR'},
]

transactions = [
    {'user_id': 1, 'amount': 100},
    {'user_id': 2, 'amount': 50},
    {'user_id': 1, 'amount': 200},
    {'user_id': 3, 'amount': 300},
    {'user_id': 4, 'amount': 120},
    {'user_id': 4, 'amount': 130},
]

#generate user country mapping
from collections import defaultdict
user_country={}
for u in users:
    user_country[u['user_id']]=u['country']
# generate a dict for country:total amount
country_amount=defaultdict(int)
for trans in transactions:
    country_amount[user_country[trans['user_id']]] +=trans['amount']
    
# generate a dict for country:num of users    
country_users=defaultdict(set)
user_id=set([t['user_id'] for t in transactions])
for u in users:
    if u['user_id'] in user_id:
        country_users[u['country']].add(u['user_id'])

ouput=[]
for country, amount in country_amount.items():
    output.append({'country':country, 'total_spend':amount, 'avg_per_user':amount/len(country_users[country])})

In [91]:

def avg_spend_by_country(users, transactions):
    #create list of unique countries using set
    country_set=set(u['country'] for u in users)
    per_user_spend_by_country=[]
    for country in country_set:
        #subset to users in a specific country
        user_id=[u['user_id'] for u in users if u['country']==country]
        trans_amount=[]
        for uid in user_id:
            user_total=sum([t['amount'] for t in transactions if t['user_id']==uid])
            trans_amount.append({'user_id': uid, 'user_total':user_total})

    # per user average amount in the country
        avg_amount=sum([tm['user_total'] for tm in trans_amount])/len(user_id)
        per_user_spend_by_country.append({'country':country, 'avg_amount':avg_amount})

    return (per_user_spend_by_country)
#Return a list of dicts like: {'user_id': X, 'total_spend': Y} for US users only.

print(avg_spend_by_country(users, transactions))

[{'country': 'US', 'avg_amount': 300.0}, {'country': 'CA', 'avg_amount': 50.0}]

# Simulate groupby() in pure Python

In [96]:

# join users and transactions
user_to_country={}
for user in users:
    user_to_country[user['user_id']]=user['country']

#Group transactions by country
grouped_by_country= {}
for trans in transactions:
    uid=trans['user_id']
    country = user_to_country.get(uid)
    if country is None:
        continue
    if country not in grouped_by_country:
        grouped_by_country[country]=[]

    grouped_by_country[country].append(trans['amount'])
print(grouped_by_country)
# aggregate amounts
results=[]
for country, amounts in grouped_by_country.items():
    total=sum(amounts)
    results.append({'country':country, 'total_spend': total})
print(results)

{'US': [100, 200, 300], 'CA': [50]}
[{'country': 'US', 'total_spend': 600}, {'country': 'CA', 'total_spend': 50}]

In [105]:
#back from vega. repeat to refresh my memories
#create user:country mapping with a new dictionary
user_country={}
for u in users:
    user_country[u['user_id']]=u['country']

#group transaction by country
grouped_by_country={}
for trans in transactions:
    country=user_country.get(trans['user_id'])
    if country is None:
        continue
    if country not in grouped_by_country:
        grouped_by_country[country]=[]
    grouped_by_country[country].append(trans['amount'])
print(grouped_by_country)

#calculate the averages
results=[]
for country, amounts in grouped_by_country.items():
  #  if len(amounts)>0:     
  #      results.append({'country': country, 'average':sum(amounts)/len(amounts)})
  #  else:
  #       results.append({'country': country, 'average':0})

    avg=sum(amounts)/len(amounts) if amounts else 0
    results.append({'country':country, 'average': avg})
print(results)

{'US': [100, 200, 300], 'CA': [50]}
[{'country': 'US', 'average': 200.0}, {'country': 'CA', 'average': 50.0}]

# compounded grouping

In [116]:
users = [
  {'user_id': 1, 'country': 'US'},
  {'user_id': 2, 'country': 'CA'},
  {'user_id': 3, 'country': 'US'},
]

transactions = [
  {'user_id': 1, 'amount': 100, 'date': '2024-03-28'},
  {'user_id': 1, 'amount': 200, 'date': '2024-03-31'},
  {'user_id': 2, 'amount': 50,  'date': '2024-03-29'},
  {'user_id': 3, 'amount': 300, 'date': '2024-04-02'},
]

from datetime import datetime

In [128]:
# create user_to_country mapping
users_to_country={}
for u in users:
    users_to_country[u['user_id']]=u['country']

# group amounts by country and week
grouped_by_country_week={}
for txn in transactions:
    country=users_to_country.get(txn['user_id'])
    _, week, _=datetime.strptime(txn['date'],"%Y-%m-%d").isocalendar()
    if country is None:
        continue
    grouped_by_country_week.setdefault((country,week),[]).append(txn['amount'])

print(grouped_by_country_week)

#aggregate by country-week
results=[]
for key, amount in grouped_by_country_week.items():
    avg_amount=sum(amount)/len(amount) if amount else 0
    results.append({'country': key[0], 'week': key[1], 'avg_amount':avg_amount})
print(results)

{('US', 13): [100, 200], ('CA', 13): [50], ('US', 14): [300]}
[{'country': 'US', 'week': 13, 'avg amount': 150.0}, {'country': 'CA', 'week': 13, 'avg amount': 50.0}, {'country': 'US', 'week': 14, 'avg amount': 300.0}]

# Manual calculation of stats

## population SD

In [ ]:


import statistics
def sd(input):
    output={}
    for i in input:
        output[i['key']]=statistics.pstdev(i['values'])
    return output

def sd_manual(input):
    output={}
    for i in input:
        mean=sum(i['values'])/len(i['values']) if len(i['values']) else 0
        sd=(sum((x-mean)**2 for x in i['values'])/len(i['values']))**0.5
        output[i['key']]=sd
    return output

In [138]:
input = [
    {
        'key': 'list1',
        'values': [4,5,2,3,4,5,2,3],
    },
    {
        'key': 'list2',
        'values': [1,1,34,12,40,3,9,7],
    }
]

print(sd(input))
print(sd_manual(input))

{'list1': 1.118033988749895, 'list2': 14.185710239533304}
{'list1': 1.118033988749895, 'list2': 14.185710239533304}

## median

In [160]:
data = [
    {'key': 'A', 'values': [3, 1, 2]},
    {'key': 'B', 'values': [4, 5]},
    {'key': 'C', 'values': []},
    {'key': 'D', 'values': [1, 2, 3, 4, 5,6,7]}
]

def calculate_median(input):
    result={}
    for d in data:
        values=sorted(d['values'])
        if values==[]:
            median=None
        elif len(values)%2==1:
            median=values[len(values)//2] 
        else: 
            median=(values[len(values)//2-1]+values[len(values)//2])/2

        result[d['key']]=median
    return result

calculate_median(data)

{'A': 2, 'B': 4.5, 'C': None, 'D': 4}

## inter quantile range (IQR)

In [161]:
def IQR(input):
    output={}
    for i in input:
        values=sorted(i['values'])
        if len(values)<=2:
            result=0
        elif len(values)==3:
            result=values[2]-values[0]
        elif len(values) % 4 ==0:
            Q1=values[len(values)//4-1]
            Q3=values[len(values)*3//4-1]
            result=Q3-Q1
        else:
            Q1=(values[len(values)//4-1]+values[len(values)//4])/2
            Q3=(values[len(values)*3//4-1]+values[len(values)*3//4])/2
            result=Q3-Q1
        output[i['key']]=result
    return output
IQR(data)

{'A': 2, 'B': 0, 'C': 0, 'D': 4.0}

In [165]:
def missing_number(raw_input):
    input=sorted(raw_input)
    for i in range(len(input)-1):
        if input[i]==input[i+1]-1:
            continue
        elif input[i]<input[i+1]-1:
            return input[i]+1
            
nums = [0,1,2,4,5] 
missing_number(nums)

3

In [84]:
def simulate_overlap(n):
    overlap=0
    for _ in range(n):
        start_time1=random.uniform(0,4)
        start_time2=random.uniform(0,4)
        if abs(start_time1-start_time2)<1:
            overlap+=1
    annual_cost=(overlap*365/n)*1000
    return annual_cost

# Friendship match

In [39]:
friends_added = [
    {'user_ids': [1, 2], 'created_at': '2020-01-01'},
    {'user_ids': [3, 2], 'created_at': '2020-01-02'},
    {'user_ids': [2, 1], 'created_at': '2020-02-02'},
    {'user_ids': [4, 1], 'created_at': '2020-02-02'}]

friends_removed = [
    {'user_ids': [2, 1], 'created_at': '2020-01-03'},
    {'user_ids': [2, 3], 'created_at': '2020-01-05'},
    {'user_ids': [1, 2], 'created_at': '2020-02-05'}]


def friendship_timeline(friends_added, friends_removed):
    start={}
    for pair in friends_added:
        sorted_pair=tuple(sorted(pair['user_ids']))
        created=datetime.strptime(pair['created_at'], "%Y-%m-%d")
        start.setdefault(sorted_pair,[]).append(created)

    end={}
    for pair in friends_removed:
        sorted_pair=tuple(sorted(pair['user_ids']))
        created=datetime.strptime(pair['created_at'], "%Y-%m-%d")
        end.setdefault(sorted_pair,[]).append(created)
    for pair in start:
       start[pair].sort()
    for pair in end:
        end[pair].sort()
        
    friendships=[]
    for pair in start.keys():
        if pair not in end:
            continue
        for i in range(min(len(start.get(pair)),len(end.get(pair)))):
            event={
                'user_ids':list(pair),
                'start_date':start.get(pair)[i].strftime("%Y-%m-%d"),
                'end_date':end.get(pair)[i].strftime("%Y-%m-%d")
            }
            friendships.append(event)

    return friendships
            
    
friendship_timeline(friends_added, friends_removed)

[{'user_ids': [1, 2], 'start_date': '2020-01-01', 'end_date': '2020-01-03'},
 {'user_ids': [1, 2], 'start_date': '2020-02-02', 'end_date': '2020-02-05'},
 {'user_ids': [2, 3], 'start_date': '2020-01-02', 'end_date': '2020-01-05'}]

## trying a more bullet proof version, assuming that the dates are not clean

In [49]:
def friendship_timeline(friends_added, friends_removed):
    start={}
    for pair in friends_added:
        sorted_pair=tuple(sorted(pair['user_ids']))
        created=datetime.strptime(pair['created_at'], "%Y-%m-%d")
        start.setdefault(sorted_pair,[]).append(created)

    end={}
    for pair in friends_removed:
        sorted_pair=tuple(sorted(pair['user_ids']))
        created=datetime.strptime(pair['created_at'], "%Y-%m-%d")
        end.setdefault(sorted_pair,[]).append(created)
        
    events=[]
    for pair,timestamps in start.items():
        for ts in timestamps:
            event={
                'user_ids':pair,
                'created_at':ts,
                'type':'start'
            }
            events.append(event)
    for pair,timestamps in end.items():
        for ts in timestamps:
            event={
                'user_ids':pair,
                'created_at':ts,
                'type':'end'
            }
            events.append(event)
    events.sort(key=lambda x: (x['user_ids'],x['created_at']))

    friendships=[]
    for i in range(len(events)-1):
        if events[i]['user_ids']==events[i+1]['user_ids'] and events[i]['type']=='start' and events[i+1]['type']=='end':  
            event={
                'user_ids':events[i]['user_ids'],
                'start_date':events[i]['created_at'].strftime("%Y-%m-%d"),
                'end_date':events[i+1]['created_at'].strftime("%Y-%m-%d")
            }
            friendships.append(event)
    return friendships

# Windowed aggregation

In [53]:
#input data
events = [
    {'user_id': 1, 'timestamp': '2024-01-01 09:00:00'},
    {'user_id': 1, 'timestamp': '2024-01-01 09:05:00'},
    {'user_id': 1, 'timestamp': '2024-01-01 09:30:00'},
    {'user_id': 2, 'timestamp': '2024-01-01 10:00:00'},
    {'user_id': 2, 'timestamp': '2024-01-01 10:02:00'},
    {'user_id': 2, 'timestamp': '2024-01-01 10:04:00'},
]

In [71]:
from datetime import datetime, timedelta
def logins(events, threshold=2, window=10):
    #convert string to datetime
    for event in events:
        event['converted_t']=datetime.strptime(event['timestamp'], "%Y-%m-%d %H:%M:%S")
    #group by user_id
    grouped_by_user={}
    for e in events:
        grouped_by_user.setdefault(e['user_id'],[]).append(e['converted_t'])
    for i in grouped_by_user:
        grouped_by_user[i].sort()

    output=[]
#    for u in grouped_by_user:
#        for i in range(0,(len(grouped_by_user[u])-threshold+1)):
#            if grouped_by_user[u][i+threshold-1]<=grouped_by_user[u][i]+timedelta(minutes=window):
#                output.append(u)
#                break
    
    for u in grouped_by_user:
        length=len(grouped_by_user[u])
        start=0
        while start in range(0,length-threshold+1):
            for end in range(start, length):
                if grouped_by_user[end]<=grouped_by_user[start]+timedelta(window) and end-start+1>=threshold:
                    output.append(u)
                    break
            start +=1
            if u in output:
                break
    
    if len(output)>0:
        return output
    else:
        return 'no user found'

# flatten nested data structures

In [84]:
posts = [
    {
        'post_id': 2,
        'comments': [
            {'text': 'Love this', 'deleted': False},
            {'text': 'Spam', 'deleted': True}
        ]
    }, 
    {
        'post_id': 1,
        'comments': [
            {'text': 'Nice post!', 'deleted': False},
            {'text': 'I disagree', 'deleted': True},
            {'text': 'Great write-up', 'deleted': False}
        ]
    }
]

output_dict={}
for p in range(len(posts)):
    p_id=posts[p]['post_id']
    for c in posts[p]['comments']:
        if c['deleted']==False:
            output_dict.setdefault(p_id,[]).append(c['text'])

output=[]
for i in sorted(output_dict.keys()):
    output += output_dict[i]

print(output)

['Nice post!', 'Great write-up', 'Love this']

# Ranking/Top-K/

In [85]:
purchases = [
    {'user_id': 1, 'amount': 50.0},
    {'user_id': 2, 'amount': 75.0},
    {'user_id': 1, 'amount': 100.0},
    {'user_id': 3, 'amount': 20.0},
]
#output: [(user_id, total_spend), ...]

In [108]:
def top_k_buyers(purchases, k):
    group_by_user={}
    for p in purchases:
        group_by_user.setdefault(p['user_id'],[]).append(p['amount'])

    output=[]
    for u in group_by_user.keys():
        output.append((u,sum(group_by_user[u])))
    output.sort(key=lambda x:x[1], reverse=True)
    if len(output)>k:
        output=output[:k]
    return output

top_k_buyers(purchases, 1)

[(1, 150.0)]

# Set logic+membership

In [2]:
day_1_users = [101, 102, 103, 104, 105]
day_7_users = [104, 105, 106, 107]
# Write a function that returns the list of user IDs who logged in on both days, sorted in ascending order.
# output:[104, 105]

In [9]:

#output=sorted(set(day_1_users) & set(day_7_users))
#output1=sorted(set(day_1_users).intersection(set(day_7_users)))
output1=sorted(set(day_1_users)-set(day_7_users))
print(output)

[104, 105]

In [17]:
set(day_1_users).difference(set(day_7_users))

{101, 102, 103}

# multi-pass/aggregation logic

In [19]:
purchases = [
    {'category': 'books', 'amount': 10.0},
    {'category': 'books', 'amount': 15.0},
    {'category': 'electronics', 'amount': 100.0},
    {'category': 'books', 'amount': 5.0},
    {'category': 'electronics', 'amount': 150.0}
]

# Output
# {
#     'books': 10.0,
#     'electronics': 125.0
# }

In [24]:
#option 1
output={}
for p in purchases:
    output.setdefault(p['category'],[]).append(p['amount'])

output={k : sum(v) for k, v in output.items()}
print(output)

{'books': 30.0, 'electronics': 250.0}

In [23]:
#option 1
output={}
for p in purchases:
    output[p['category']]=output.get(p['category'],0)+p['amount']
print(output)

{'books': 30.0, 'electronics': 250.0}

# Timeline & State tracking

In [95]:
events = [
    {'user_id': 1, 'action': 'login', 'timestamp': '2020-01-01 09:00:00'},
    {'user_id': 2, 'action': 'login', 'timestamp': '2020-01-01 09:10:00'},
    {'user_id': 1, 'action': 'logout', 'timestamp': '2020-01-01 09:30:00'},
    {'user_id': 2, 'action': 'logout', 'timestamp': '2020-01-01 09:45:00'},
    {'user_id': 3, 'action': 'login', 'timestamp': '2020-01-01 09:20:00'},
    {'user_id': 3, 'action': 'logout', 'timestamp': '2020-01-01 09:50:00'}
]

#Return the maximum number of concurrent users at any point in time.

In [96]:
from datetime import datetime

events.sort(key= lambda x: datetime.strptime(x['timestamp'], "%Y-%m-%d %H:%M:%S"))
count=0
max_count=0
in_peak=0
for e in events:
    if e['action']=='login':
        count +=1
    elif e['action']=='logout':
        count -=1
        if in_peak==1:
            in_peak=0
            max_end_time=e['timestamp']
    if count>max_count:
        max_count=count
        max_start_time=e['timestamp']
        max_end_time=max_start_time  #can also set as a specific time after all the events
        in_peak=1
        
print(max_count, max_start_time, max_end_time)

3 2020-01-01 09:20:00 2020-01-01 09:30:00

# Event Matching (Paired Start/End)

In [97]:
events = [
    {'user_id': 1, 'event_type': 'start', 'timestamp': '2024-01-01 10:00:00'},
    {'user_id': 1, 'event_type': 'start', 'timestamp': '2024-01-01 11:00:00'},
    {'user_id': 1, 'event_type': 'end',   'timestamp': '2024-01-01 10:30:00'},
    {'user_id': 1, 'event_type': 'end',   'timestamp': '2024-01-01 11:30:00'}
]

In [102]:
for e in events:
    e['converted_time']=datetime.strptime(e['timestamp'], "%Y-%m-%d %H:%M:%S")
events.sort(key= lambda x: x['converted_time'])

output=[]
start={}
for e in events:
    if e['event_type']=='start':
        start.setdefault(e['user_id'],[]).append(e['converted_time'])
    if e['event_type']== 'end' and start.get(e['user_id']):
        output.append({'user_id':e['user_id'],
                      'start_time':start[e['user_id']][0].strftime("%Y-%m-%d %H:%M:%S"),
                      'end_time':e['converted_time'].strftime("%Y-%m-%d %H:%M:%S")})
        start[e['user_id']].pop(0)

print(output)

[{'user_id': 1, 'start_time': '2024-01-01 10:00:00', 'end_time': '2024-01-01 10:30:00'}, {'user_id': 1, 'start_time': '2024-01-01 11:00:00', 'end_time': '2024-01-01 11:30:00'}]

In [1]:
a=[1,2,3]
a=max(a)

In [5]:
print(5//2)

2

In [7]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:

def prime_numbers(N):
	output=[]	
    for x in range(2,(N+1)):
    	prime=True
        for d in range(2, x):
            if x%d==0:
                prime=False
                break
        if prime:
            output.append(x)
    return output